measurements/250522/*
!measurements/250522/leaves/
!measurements/250522/leaves/**    # The double asterisk (**) is a glob pattern that matches all files and directories recursively under leaves/

.conda/
Miniconda*  
